{% extends 'useraccount/base.html' %}
{% block container %}
<h3>This is Where You change account Information</h3>
<form method="POST" action="#">{% csrf_token %}
<div class="form-group">
        <input type="text" class="form-control" name="first_namec" id="ChangeFirstName" placeholder="Change First Name">
        <input type="text" class="form-control" name="last_namec" id="ChangeLastName" placeholder="Change Last Name">
        <input type="text" class="form-control" name="e-mailc" id="ChangeEmail" placeholder="Change  E-Mail">

      </div>
</form>
{% endblock %}
